body {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}

.billedtekst {
	font-family: 'Khand', sans-serif;
	position: absolute;
	top: 16vw;
	left: 24vw;
	color: white;
	font-size: 70px;
}

.footerbillede {
	height: 250px;
	margin-top: 3vw;
}

.footertekst {
	position: absolute;
	top: 479vw;
	font-family: 'Khand', sans-serif;
	color: white;
	left: 24vw;
}

.tekst {
	margin-top: 0.5vw;
}

body {
	font-family: 'News Cycle', sans-serif;
}

.billede {
	background: url("") no-repeat center center;
	background-size: cover;
	height: 250px;
	margin-top: 2vw;
}

.menu_et {
	background-image: url(imgs/medium/ringbroed-druer-md.jpg);
}

.menu_to {
	background-image: url(imgs/medium/rodbede-cabanossi-md.jpg);
}

.menu_tre {
	background-image: url(imgs/medium/caviarbruschetta-md.jpg);
}

button.modalknap {
	color: #fe3d12;
}

.navbar-nav {
	background-color: white;
	position: absolute;
	left: 29vw;
}

.navbar-header {
	background-color: white;
}

.udsolgt {
	text-decoration: line-through;
}

.rabat {
	text-decoration: line-through;
}

.forretter .menutekst_et:nth-child(3n+1) {
	clear: both;
}

.hovedretter .menutekst_et:nth-child(3n+1) {
	clear: both;
}

.sideorders .menutekst_et:nth-child(3n+1) {
	clear: both;
}

.desserter .menutekst_et:nth-child(3n+1) {
	clear: both;
}

.drikkevarer .menutekst_et:nth-child(3n+1) {
	clear: both;
}

.page-header {
	font-family: 'Khand', sans-serif;
	font-size: 65px;
	text-align: center;
}
